<mat-card>
    <img mat-card-image *ngIf="!isImageLoading; else noImageFound" [src]="currentTrack.albumArt">
    <ng-template #noImageFound>
        <img mat-card-image src="./assets/img/albumPlaceholder.jpeg" alt="Fallbackimage">
   </ng-template>
    
    <mat-card-content class="container m-0 p-0">
        <p class="row">
            <b>DJ:</b>
            <marquee class="dj" *ngIf="currentTrack.dj.length >= 18; else noScrollDJ" behavior="scroll" scrollAmount="2" direction="left">{{currentTrack.dj}}</marquee>
            <ng-template #noScrollDJ>{{currentTrack.dj}}</ng-template>
        </p>
        <p class="row">
            <b>Title:</b>
            <marquee class="title" *ngIf="currentTrack.title.length >= 18; else noScrollTitle" behavior="scroll" scrollAmount="2" direction="left">{{currentTrack.title}}</marquee>
            <ng-template #noScrollTitle>{{currentTrack.title}}</ng-template>
        </p>
        <p class="row">
            <b>Artist:</b>
            <marquee class="artist" *ngIf="currentTrack.artist.length >= 18; else noScrollArtist" behavior="scroll" scrollAmount="2" direction="left">{{currentTrack.artist}}</marquee>
            <ng-template #noScrollArtist>{{currentTrack.artist}}</ng-template>
        </p>
        <p class="row">
            <b>Album:</b>
            <marquee class="album" *ngIf="currentTrack.album.length >= 18; else noScrollAlbum" behavior="scroll" scrollAmount="2" direction="left">{{currentTrack.album}}</marquee>
            <ng-template #noScrollAlbum>{{currentTrack.album}}</ng-template>
        </p>
    </mat-card-content>
</mat-card>

