<div class="container">
    <div class="row mt-5">
        <div class="col-5"></div>
        <div class="col-2"><app-now-playing></app-now-playing></div>
        <div class="col-1"></div>
        <div class="col-4"></div>
    </div>
    <br>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-3"><app-stream-controls></app-stream-controls></div>
        <div class="col">
        </div>
        
    </div>
        <app-send-message class="row mt-5 d-flex justify-content-center"></app-send-message>
</div>