/* .carousel-indicators {
    position: absolute !important;
}
.carousel-control-prev {
    position: absolute !important;
}

.carousel-control-next {
    position: absolute !important;
} */
.psa {
    padding-left: 70px !important;
    padding-right: 70px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.carousel-control-prev {
    justify-content: flex-start !important;
}

.carousel-control-next {
    justify-content: flex-end !important;
}