<mat-card class="container">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-interval="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active option" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="option" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="option" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <h2>Example PSA</h2>
        <p class="psa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus mauris, consectetur vitae mollis quis, auctor in tortor. In ac elit a ante pulvinar congue. Duis dapibus, mi vel gravida fringilla, nibh ipsum tincidunt orci, ac ullamcorper arcu velit vel ante. Vestibulum ac malesuada leo, vel tristique quam. Duis ligula quam, tincidunt ac dignissim quis, consequat finibus sem.</p>
        </div>
        <div class="carousel-item">
            <h2>Example PSA</h2>
            <p class="psa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus mauris, consectetur vitae mollis quis, auctor in tortor. In ac elit a ante pulvinar congue. Duis dapibus, mi vel gravida fringilla, nibh ipsum tincidunt orci, ac ullamcorper arcu velit vel ante. Vestibulum ac malesuada leo, vel tristique quam. Duis ligula quam, tincidunt ac dignissim quis, consequat finibus sem.</p>
        </div>
        <div class="carousel-item">
            <h2>Example PSA</h2>
            <p class="psa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus mauris, consectetur vitae mollis quis, auctor in tortor. In ac elit a ante pulvinar congue. Duis dapibus, mi vel gravida fringilla, nibh ipsum tincidunt orci, ac ullamcorper arcu velit vel ante. Vestibulum ac malesuada leo, vel tristique quam. Duis ligula quam, tincidunt ac dignissim quis, consequat finibus sem.</p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</mat-card>

