<mat-card>
    <mat-card-title>Last 5</mat-card-title>
    <mat-list class="container" role="list">
        <mat-list-item class="list row" role="listitem">
            <div class="col fields">
                <b>Artist</b>
            </div>
            <div class="col fields">
                <b>Track</b>
            </div>
            <div class="col fields">
                <b>Album</b>
            </div>
            <div class="col-2 fields">
                <b>DJ</b>
            </div>
        </mat-list-item>
        <mat-list-item class="list row" role="listitem" *ngFor="let i of songs">
            <div class="col fields">
                {{i.artist}}
            </div>
            <div class="col fields">
                {{i.track}}
            </div>
            <div class="col fields">
                {{i.album}}
            </div>
            <div class="col-2 fields">
                {{i.dj}}
            </div>
            
        </mat-list-item>
    </mat-list>
</mat-card>
