/* .carousel-indicators {
    position: absolute !important;
}
.carousel-control-prev {
    position: absolute !important;
}

.carousel-control-next {
    position: absolute !important;
} */
.psa {
    min-height: 175px;
}

.carousel-control-prev {
    justify-content: flex-start !important;
}

.carousel-control-next {
    justify-content: flex-end !important;
}

mat-card {
    min-height: 250px;
}

mat-icon {
    cursor: pointer;
}