<mat-card>
    <mat-card-title>
        chat
        <mat-slide-toggle></mat-slide-toggle>
    </mat-card-title>
    <mat-card-header>
        
    </mat-card-header>
    <cdk-virtual-scroll-viewport class="chat-box" appendOnly itemSize="3">
        <div class="d-flex flex-column">
        <div *cdkVirtualFor="let message of messages" [ngClass]="message.from == 1 ? 'justify-content-end' : 'justify-content-start'" class="d-inline-flex m-2"><p [ngClass]="message.from == 1 ? 'blue' : 'grey'" class="text" >{{message.content}}</p></div>
        </div>
    </cdk-virtual-scroll-viewport>
</mat-card>

<button mat-button (click)="getMessages()">CLICK ME</button>