/* .chat-view {
    height: 30px;
    width: auto;
    background-color: rgba(84, 84, 250, 0.911);
    border-radius: 20px;
} */

.chat-box {
    height: 200px;
    width: 275px;
}

.chatAlt {
    min-height: 200px !important;
    text-align: center;
}

.flex-row {
    margin-left: 10px;
    margin-right: 10px;
}

form {
 margin: 10px;
}

mat-card {
    max-width: 300px;
}
 .text {
    padding: 5px;
    color: white;
    border-radius: 8px;
    margin-bottom: 0px;
}

.blue {
    background-color: rgb(97, 97, 255);
}

.grey {
    background-color: rgb(188, 187, 187);
}

