<audio #audio preload="none">
    <source src="http://stream.wuvt.vt.edu:80/wuvt-hq.ogg" type="application/ogg" />
</audio>
<div class="d-flex justify-content-center">
        <button mat-mini-fab *ngIf="playing" (click)="audio.pause() ; playing = false" color="primary">
            <mat-icon>stop</mat-icon>
        </button>
        <button mat-mini-fab *ngIf="!playing" (click)="audio.play() ; playing = true" color="primary">
            <mat-icon>play_arrow</mat-icon>
        </button>
</div>
