mat-card {
    max-width: 500px;
}

.textarea {
    min-width: 450px;
}

.psaNumber {
    max-width: 100px;
}

.button {
    margin-top: 8px;
}

.psaNum {
    max-width: 100px;
}
.goBack {
    max-width: 170px;
}